<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/reg_g/natural" method="post">
        <div>
            <label>CC:</label>
            <input type="text" name="id" required>
        </div>
        <div>
            <label>Nombre:</label>
            <input type="text" name="nombre" required>
        </div>
        <div>
            <label>Clave:</label>
            <input type="password" name="clave" required>
        </div>
        <div>
            <label>Email:</label>
            <input type="text" name="email" required>
        </div>
        <div>
            <label>Telefono:</label>
            <input type="text" name="telefono" required>
        </div>
        <div>
            <button>Enviar</button>
        </div>
    </form>
</body>
</html>